#hi{
    font-family: "Qwitcher Grypen";
    color: red;
    font-size: 99px;
}
h1{
    font-family: "Press Start 2P";
    font-size:99px; 
}
h2{
    font-family: "Noto Sans Avestan";
    font-size:50px;
}